{% for block in section.blocks %}
    <div style="margin: 2rem auto; display:flex; flex-direction: column; gap:1rem;">
    {% if block.settings.title %}
    <h4>{{ block.settings.title }}</h4>
    {% endif %}
    {% if block.settings.image %}
    <img src="{{ block.settings.image | image_url: width: '800x' }}" alt="wholesale image" loading="lazy" style="justify-self: center"/>
    {% endif %}
    {% if block.settings.paragraph %}
    <p>{{ block.settings.paragraph }}</p>
    {% endif %}
    </div>
{% endfor %}


{% schema %}
{
    "name": "B2B content",
    "blocks": [
        {
          "name": "paragraph",
          "type": "para",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Paragraph Title"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "paragraph",
                "label": "Paragraph"
            }
          ]
        }
      ]
}
{% endschema %}

  